.noList{
	list-style:none;
}
.gray{
	background-color:rgba(0,0,9,.09);
}
.fixed{
    position:fixed;
}
.relative{
	position:relative;
}
.absolute{
    position:absolute;
}
.textL{
    text-align:left;
}
.white{
	background-color:#fff;
}
.point{
	cursor: pointer;
}
